/**
* GLOBAL CSS SETTINGS FOR THE CNC-INTERFACE
* By ForkGitIT
*/

/*ADD ICONS & CUSTOM FONTS*/

@import url('http://fonts.googleapis.com/css?family=Dosis:300,400,700');
@font-face {
  font-family: 'icons';
  src:  url('icons/icomoon.eot?ozinhx');
  src:  url('icons/icomoon.eot?ozinhx#iefix') format('embedded-opentype'),
    url('icons/icomoon.ttf?ozinhx') format('truetype'),
    url('icons/icomoon.woff?ozinhx') format('woff'),
    url('icons/icomoon.svg?ozinhx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  color: #2d3142;
  font-family: 'icons', 'Dosis', sans-serif;
  font-weight:400;
  box-sizing: border-box;
}

body {
padding: 0;
margin: 0;
background: #fcfff4;
background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%);
background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%);
background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 );
}

/**
TEXTUAL
*/
.subtitle {
  font-weight: 300;
}

/**
LOGO
*/
.img-logo {
  margin:5px 0;
  width:175px;
  height:auto;
}

/**
MAIN CONTENT
*/

.main-content {
  position: absolute;
  height: 100%;
  width: calc(100% - 250px);
  right:0;
  top:0;
  overflow: hidden;
}

/**
TABLE SETTINGS
*/
table {
width: 100%;
margin-bottom: 35pt;
border: none;
padding:5px;
}

table th, table td {
  padding:5px;
}

table thead {
  text-align: left;
}

th {
  text-transform: capitalize;
}

th[data-field=ip],
th[data-field=id] {
  text-transform: uppercase;
}

th[data-ref] {
  cursor: pointer;
}

th.descent:after {
  content: "\e5c5";
}

th.ascent:after {
  content: "\e5c7";
}

table tbody {
  font-weight: 300;
}

table tbody tr {
  background-color: transparent;
  transition: background-color 0.35s linear;
}

table tbody tr:hover,
table tbody tr:focus {
  background-color: #96ecff;
}

/**
MAIN MENU
*/

.logo-container {
  margin-bottom: 10pt;
}

.main-menu {
  background: #feffff;
  background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%);
  background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%);
  background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
  list-style: none;
  padding:0;
  margin:0;
  width:250px;
  height:100%;
  position: fixed;
  left:0;
  top:0;
}

.menu-link {
  display:block;
  text-decoration: none;
  padding: 5pt;
  color: #2d3142;
  background-color: transparent;
  border-bottom:1px solid #ccc;
  transition: all 0.35s linear;
}

.menu-link.active,
.menu-link:hover,
.menu-link:active,
.menu-link:focus {
  color: #D9EEFA;
  background-color: #2d3142;
}

.menu-link:before {
  margin-right: 6pt;
}
.menu-link.home:before{
  content: "\e88a";
}
.menu-link.status:before{
  content: "\e88f";
}
.menu-link.task:before{
  content: "\e896";
}
.menu-link.bot:before{
  content: "\e859";
}

/**
BUTTONS
*/
.btn {
  border-radius: 5px;
  padding: 5px;
  width:150px;
  border-color: transparent;
  transition: background-color 0.5s linear;
}

.btn-submit {
  background-color: #e6af2e;
}

.btn-refresh {
  background-color: #7fdeff;
}

.btn-start {
  background-color: #aafcb8;
}
.btn-start:hover,
.btn-start:focus {
  background-color: #99e3a6;
}
.btn-stop {
  background-color: #f25f5c;
}
.btn-stop:hover,
.btn-stop:focus {
  background-color: #db5653;
}

/**
* MAIN SECTIONS
*/
section {
  display:block;
  z-index:0;
  position: absolute;
  height:100%;
  width: 100%;
  background-color: #0b132b;
  left: 100%;
  transition: all 0.55s linear;
}

section.active {
  background-color: transparent;
	left: 0;
  overflow-y: auto;
}

/**WELCOME [HOME] SLIDE*/

.bot-icon:before {
  display:block;
  content: "\e859";
  font-size:100pt;
  color: #8fb339;
}

.welcome-msg-container {
  display:flex;
  align-items: center;
  height:100%;
}

.welcome-msg {
  text-align: center;
  width:100%;
}

/**TASK FORM*/
#tasks-table-form-container {
  display: flex;
  align-items: center;
  position: fixed;
  z-index:10;
  bottom:0;
  width:100%;
  height:35pt;
  background-color:#2b4570;
}

#tasks-table-form-container span {
  font-weight: 700;
  color:#dad2d8;
  font-size:14pt;
  margin: 0 7pt;
}

#tasks-table-form-container form {
  width:40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#tasks-table-form-container input {
  height: 20pt;
  border-radius: 5px;
  border:1px solid transparent;
}

/**DIALOG CONTAINER*/
.dialog-container {
  z-index:10;
  display:flex;
  align-items: center;
  position: fixed;
  bottom:35pt;
  width:100%;
  height: 0pt;
  transition: height 0.35s linear;
}

.dialog-container.success {
  background-color: #c6ca53;
  height:30pt;
}

.dialog-container.fail {
  background-color: #fb3640;
  height: 30pt;
}

.msg {
  margin:0;
  padding: 0 5pt;
  font-weight:700;
}
